
.icon-mail:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-meetup:before { content: '\f2e0'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */